.form-input {
  margin-bottom: 20px;
}

.form-input label {
  display: block;
  font-weight: 700;
  color: #222;
  font-size: 20px;
  margin-bottom: 5px;
}

.form-input input {
  outline: 0;
  font-size: 20px;
  padding: 10px 15px;
  border: 1px solid rgb(34,34,34, 0.15);
  color: #222;
  border-radius: 4px;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
}