.button {
  transition: background-color 0.5 ease;
  background-color: #2185D0;
  border: 0;
  border-radius: 4px;
  color: #fff;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}

.button:hover {
  background-color: #1678c2;
}